<div class="container">

    <div class="header clearfix">

            <ul class="nav nav-pills float-left">
                <li class="nav-item">
                    <a class="nav-link link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="/savedarticles" >Saved Articles</a>
                </li>
            </ul>   
   </div>

   <div class="jumbotron">
  <h1 class="display-3">Saved Articles</h1>
  {{!--<p class="lead">
    
  </p>--}}
</div>
{{!--If no saved articles exist then display the following ptag info--}}
  <div class="row">
    {{#unless result.length}}
    <p>There are no saved articles.</p>
    {{/unless}}
  </div>

{{!--Populates the handlebars injection points with the Huffington Post's scraped titles,
    links, and article snippets.--}} {{#each result}}
    <div class="panel panel-info">
      <div class="panel-heading">
        <a href="{{this.link}}">
           <h3 class="panel-title"> {{this.title}}</h3>
        </a>
        <div class="panel-body">
            {{!--
            <h4 class="card-title"></h4>
           </a>--}}
            <a href="{{this.link}}">
                <p class="snippet-text">{{this.articleSnippet}}</p>
            </a>
            <br>
            <a href="/articles/{{this._id}}" class="btn btn-success">Comment</a>
            <a href="/unsave/{{this._id}}" class="btn btn-success">Delete from Saved Article</a>
        </div>
        </div>
    </div>
    <br>
    <br> {{/each}}

</div>
